@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Inconsolata:wght@300&family=Lato:wght@100&family=Montserrat:wght@100;300&family=PT+Serif&family=Poppins:wght@100&family=Red+Hat+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Inconsolata:wght@300&family=Lato:wght@100&family=Montserrat:wght@100;300&family=PT+Serif&family=Poppins:wght@100&family=Red+Hat+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Inconsolata:wght@300&family=Lato:wght@100&family=Montserrat:wght@100;300&family=PT+Serif&family=Poppins:wght@100&family=Red+Hat+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Archivo+Black&family=Inconsolata:wght@300&family=Lato:wght@100&family=Montserrat:wght@100;300&family=PT+Serif&family=Poppins:wght@100&family=Red+Hat+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Archivo+Black&family=Inconsolata:wght@300&family=Lato:wght@100&family=Montserrat:wght@100;300&family=PT+Serif&family=Poppins:wght@100&family=Red+Hat+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Inconsolata:wght@300&family=Lato:wght@100&family=Montserrat:wght@100;300&family=Niramit:wght@300&family=PT+Serif&family=Poppins:wght@100&family=Red+Hat+Display&family=Source+Sans+Pro:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  
    color:white;
}

/********** HEADER ******/
.container{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_nav{
    width:100%;
    max-width: 1360px;
    height: 14.5vh;
    background-color: black;
    display: flex;
}

.container_nav logo{
    width:10%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:0 0 0 1em;
}

.container_nav logo img{
    width:100%;
    
}

.container_menu{
   width: 90%;
   display: flex;
   justify-content: right;
   align-items: center;
  
   
 }

 .container_menu ul{
    display: flex;
    gap: 10px;
    margin: 0 3em 0 0;
  }
 
  .link a{
      list-style: none;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size:1rem;
      color:#fff;
  }
  

  .container_menu li{
    list-style: none;
  }

  .toggle_menu img {
    display:none;
   
    
}

.toggle_menu__checkbox {
    display:none;
}

.container_1{
    width:100%;
    max-width: 1360px;
    background-color:#fee600;
    display: flex;
    overflow: hidden;
}

.mensaje{
    width:100%;
    max-width: 898px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding:0 0 0 1em;   
}

.mensaje_1{
    width:100%;
    max-width:753px;
    height:530px;
}
.mensaje_1 h2{
    width:100%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 4.0625em;
    color:black;
    margin: 1em 0 0  0;
}

.mensaje_1 p{
    width:70%;
    font-family: 'Niramit', sans-serif;
    font-size: 1.5em;
    color:black;
    margin: 1em 0 0  0; 
 }

 .btn{
     width: 100%;
     max-width: 228px;
     height:70px;
     border:none;
     border-radius: 10px;
     font-size: 1.5em;
     margin: 2em 0 0  0;
     cursor: pointer;
 }

.img_1 img {
    width:100%;
    max-width:462px;
    height: 100%;
}
/************* FIN  HEADER **********************/


/************** MAIN ***************************/

.container_main{
    width:100%;
    overflow:hidden;
  

}

.container_section{
    width:100%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:5em;
    padding:5em 1em 5em 1em;
   
    
}

.title{
    width:60%;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color:#fee600;
}

.parrafo{
    font-family: 'Niramit', sans-serif;

}

.container_articles{
    width: 100%;
    max-width:1267px;
    display:flex;

}

.content{
    width:100%;
    padding:2em;
}

.titulo{
    width:100%;
    font-size: 18.8px;
    color:white;
    margin:2em 0 2em 0;
}

.titulo1{
    width:100%;
    font-size: 1.2rem; 
    margin-bottom: 3em;  
}


.parrafo{
    font-size: 1.1rem;
}

.check{
  
    background-color: #fee600;
    width:70px;
    height:70px;
    border-radius: 60%;
    text-align: center; 
    margin: 0 auto;
}

.check img{
  
   text-align: center;
   padding: 1.5em 0 0 0;
}

.container_dia{
    width:100%;
    height:768px;
    max-width:1360px;
    background-color: #fee600;
    margin:0 auto;
    overflow:hidden;
    display: flex;
    justify-content: center;
    gap:5em;  

}

.imagen_smart{
    margin:3em 0;
}

.title_text{
    width:50%;
    padding:12em 0;
    margin: 3em 0;
}

.title_text h1 {
     color: rgb(0, 0, 0);
     font-family: 'Archivo Black', sans-serif;
     font-size:90px;
     

     
}
.title_text p {
    width:85%;
    color: rgb(0, 0, 0);
    font-family: 'Niramit', sans-serif;
    font-size:33px;
}

.container_minuto{
    width:100%;
    max-width:1360px;
    margin:0 auto;
    display: flex;
}

.img_reloj img{
    width: 100%;
}

.cada{
    width: 100%;
    max-width: 565px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.article_reloj{
    width: 60%;
    height:60%;
}

.cada h1{
    font-family: 'Archivo Black', sans-serif;
    font-size:2.25rem;
    color: #fee600;

}

.btn1{
    width:100%;
    max-width: 274px;
    height:70px;
    border-radius: 8px;
    margin-top: 5em;
    cursor: pointer;
}


/**************** FIN MAIN *************/

/************* FOOTER *****************/
.container_footer{
    width:100%;
    max-width:1360px;
    margin: 0 auto;
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "item1 item1 item1 item1 item1"
    "item2 item2 item3 item3 item3";

}

.container_logo{
    height: 138px;
    grid-area: item1;
    background-color:#000;
}

.logo_footer{
    width:100%;
    max-width: 70px;
    margin: 2em 2em;   
}

.logo_footer img{
    width:100%;   
}

.container_img{
  grid-area: item2;
 
}

.container_img img{
    width: 100%;
    display: block;
    
}
.container_contactos{
    grid-area: item3;
    background-color: #fee600;
    padding:0 5em;   
    display: flex;
    align-items: center;
    
}

.content1 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size:3.45rem;
    color:rgb(0, 0, 0);
    margin: 1em 0;
}

.content1 p{
    width:70%;
    font-family: 'Niramit', sans-serif;
    font-size:1.5rem;
    color:#000;
    margin:0 0 2em 0;
}

.icons{
    margin:8em 0 0 0;
}

.face ,
.insta,
.twit{
    width:2em;
    height:2em;
    margin:0 1.5em 0 0;
}







/************* FIN FOOTER *********************/

/************* MEDIA QUERIS 820 px***********/

 @media screen and (max-width:820px){
    .container_1{
        width:100%;
        background-color:#fee600;
        display: flex;
        flex-direction: column;   
    }  
    .mensaje_1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;        
        
    }

    .mensaje_1 h2{
        width:70%;   
    
    }
    .img_1 {
        text-align: center; 
    }

    .parrafo{
        text-align: center;
    }

    /**** MAIN RESPONSIVE ****/
    
    .container_articles{
        display:flex;
        flex-wrap: wrap;
    }
    .container_dia{
        width:100%;
        height:auto;
        display:flex;
        flex-wrap: wrap;   
    }

    .title_text {
       padding:2em 0;
        
   }

   .imagen_smart img{
       width: 100%;
       
   }

   .container_minuto{
       display: flex;
       justify-content: center;
       flex-direction: column;
   }

   .cada{
       width: 100%;
       max-width: 820px;
       height:100vh;
   }
    /**********  RESPONSIVE FOOTER*****/
   .container_footer{

    grid-template-areas: 
    "item1 item1 item1 item1 item1"
    "item2 item2 item2 item2 item2"
    "item3 item3 item3 item3 item3";
   }

    .container_logo{
        grid-area: item1;
    }
    .container_img{
        grid-area: item2;
        display: flex;
        justify-content: center;
        background-color: #fee600;
    }

    .container_img img{
        width: 100%;
        max-width:465px;
        
    }

    .container_contactos{
        height:100vh;
        grid-area: item3;
        display: flex;
        justify-content: center;
    }

   
} 

 /************* MEDIA QUERIS 660px***********/

@media screen and (max-width:660px){
    .container_1{
       display: flex;
       gap:100px;

    }

    .logo{
        z-index: 1;
        padding:0 0 0 1em;
    }

     .toggle_menu{
        position: absolute;
        right:1em;
        top:2.5em;
        z-index: 1;
    }

    .container_menu{
        position: absolute;
        top:121px;
        width: 100%;
        height:100vh;
        background-color:#148dac;
        display: flex;
        justify-content: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
            
    }

    .container_menu ul{
        display: flex;
        flex-direction: column;  
        gap:100px
      }

      .mensaje{
          height: 100vh;
      }
     
      /**** MENU RESPONSIVE ******/
    .toggle_menu {
        position: absolute;
        
    }

    .toggle_menu img {
        filter:invert(1);
        display:block;
        cursor: pointer;   
    }

     .container_menu--show{
         transform: translateY(0);
     }

     
     .toggle_menu__checkbox {
         display:none;
     }


    .toggle_menu__checkbox:checked + .container_menu{
        clip-path: circle(100% at center);
       
    }

  
}

 /************* MEDIA QUERIS 480px***********/

@media screen and (max-width:480px){
    .container_1{
        display: flex;
        gap:200px;
     }    
    
}

 /************* MEDIA QUERIS 357px***********/

@media screen and (max-width:357px){
    .mensaje{
        height:100vh;
    }

    .mensaje_1 h2{
        font-size: 16vw;

    }

    .mensaje_1 p{
      font-size: 7vw;
    }

    .btn{
        font-size: 7vw;
    }

    .title_text h1{
        font-size: 25.4vw;
    }

    .title_text p{
        font-size: 9.3vw;
    }

}